.customScroller :global(.cm-scroller) {
  max-height: calc(var(--vh, 1vh) * 100 - 120px) !important; /* Вычитаем примерную высоту заголовка и отступов */
  height: auto !important;
  border-radius: 8px !important;
  overflow: hidden !important;
}

.codeViewerWrapper :global(.cm-scroller) {
  height: 100% !important;
  overflow-y: auto !important;
}

.codeViewerWrapper {
  height: calc(var(--vh, 1vh) * 100 - 317px); /* Используем ту же высоту, что и для скроллера */
  overflow: hidden;
}